#top-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;

    width: 100%;
    height:120px;
    background-color: var(--grey);
    z-index: 99;
    padding: 8px 25%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .top-navigation__container {
        width:1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: yellow;
        box-sizing: border-box;
        position: fixed;
        .logo {
            width: 124px;   
            height: 26px;
            background-image: url("/SVG/seopak-logo.svg");
        }
        .menu-icon {
            width: 48px;
            height: 48px;
        }
    }
    
}